/* The animation code 
@keyframes shadow {
  from {}
  to {box-shadow: 0px 3px 0px 0px rgba(188, 188, 188, 0.2);}
}
*/

.landing-page {
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.landing-page main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 3.25rem 1.5rem 1rem;
  text-align: center;
}
.landing-page main .intro-wrapper {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.landing-page main .intro-wrapper > .intro-name {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  line-height: 4rem;
}
/*
.landing-page main .intro-wrapper > :hover.intro-name {
  animation: shadow 1s forwards;
}
*/
.landing-page main .intro-wrapper > .tagline {
  font-size: 1.375rem;
  margin: 1.5rem 0;
  font-weight: 300;
}
.landing-page main .browser-notes {
  font-size: 0.75rem;
}
.landing-page main .browser-notes span {
  border-width: 1px;
  border-style: solid;
  padding: 0.125rem 0.5rem;
}
