th, td {
  background: #e6e6e6;
  font: 20px/15px monospace;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
}
th:hover, td:hover {
  cursor: pointer;
}

img {
  float: left;
  width: 40px;
  height: 40px;
}

body {
  background: #e6e6ff;
}

#headLine {
  position: relative;
  background: #99994d;
  text-align: center;
  border-radius: 3px;
  font: 30px/45px Lobster;
  font-weight: bold;
  margin-top: 185px;
  margin-bottom: 0px;
  margin-left: 20px;
}

table {
  width: 90vw;
  margin-left: 35px;
}

th {
  font: 15px/30px monospace;
  font-weight: bold;
}
th:hover {
  background: rgba(242, 242, 242, 0.6);
}

td {
  background: #ddddbb;
  font: 15px/30px Impact, Charcoal, sans-serif;
}

#headLine {
  width: 90vw;
}
